<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>Label</key><string>tech.bestly.wall-appstore</string>
  <key>ProgramArguments</key>
  <array><string>/usr/bin/python3</string><string>/Users/jaredbest/.bestly/wall-feeds/appstore.py</string></array>
  <key>StartInterval</key><integer>7200</integer>
  <key>RunAtLoad</key><true/>
  <key>StandardOutPath</key><string>/Users/jaredbest/.bestly/wall-feeds/appstore.log</string>
  <key>StandardErrorPath</key><string>/Users/jaredbest/.bestly/wall-feeds/appstore.log</string>
</dict>
</plist>
